/* impostazioni generali */
*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

/* imp sfondo */
#sfondo-top{
  background-color: #128C7E;
  height: 25vh;
}

#sfondo-bottom{
  background-color: lightgrey;
  height: 75vh;
}

/* container principale */
#container{
  position: absolute;
  top: 5vh;
  left: 15vw;
  height: 90vh;
  width: 70vw;
  background-color: white;
  display: flex;
  flex-direction: row;
}

/* impostazioni sez left */
#sez-left{
  display: flex;
  flex-direction: column;
  width: 40%;
}

#utente{
  background-color: lightgrey;
  height: 12vh;
  border-right: 1px solid grey;
  display: flex;
  justify-content: space-between;
}

.left{
  display: flex;
  align-items: center;
  padding-left: 1%;
  width: 70%
}

.right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1%;
  width: 30%
}

.right > i{
  color: grey;
  margin: 0 5%;
}

.left img{
  width: 25%;
  height: 85%;
  border-radius: 50%;
  margin-right: 1%;
}

#notifiche{
  background-color: deepskyblue;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#notifiche i{
  background-color: white;
  border-radius: 50%;
  color: deepskyblue;
  padding:10px;
  margin-right: 5%;
}

#notifiche a{
  color: grey;
  font-size: 12px;
}

#cerca-contatti{
  background-color: whitesmoke;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cerca-contatti input{
  border: none;
  width: 90%;
  height: 80%;
  text-align: center;
}

#cerca-contatti i{
  position: absolute;
  color: lightgrey;
  left: 4%;
}

#contatti{
  height: 54vh;
  overflow: auto;
}

.box-contatto{
  display: flex;
  justify-content: flex-start;
  height: 25%;
  border-bottom: 1px solid lightgrey;
}

.box-contatto img{
  border-radius: 50%;
  margin-top: 1%;
  height: 90%;
}

.box-contatto p{
  color: grey;
  font-size: 12px;
  margin-top: 2%;
}

.next-avatar{
  margin: 2% 38% 0 5%;
}

/* impostazioni sez right */
#sez-right{
  display: flex;
  flex-direction: column;
  width: 60%;
}

#top-chat{
  background-color: lightgrey;
  height: 12vh;
  display: flex;
  justify-content: space-between;
}

#top-chat > .left img{
  height: 80%;
  width: 17%;
}

.rimpicciolito{
  color: grey;
  font-size: 12px;
}

#chat{
  background-image: url(../img/mine.jpg);
  height: 66vh;
}

#bottom-chat{
  background-color: whitesmoke;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bottom-chat input{
  width: 80%;
  height: 80%;
  border: none;
}

#bottom-chat i:first-child{
  color: grey;
  padding-left: 4%;
}

#bottom-chat i:last-child{
  padding-right: 4%;
}
