/* impostazioni generali */
*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

/* imp sfondo */
#sfondo-top{
  background-color: #128C7E;
  height: 25vh;
}

#sfondo-bottom{
  background-color: lightgrey;
  height: 75vh;
}

/* container principale */
#container{
  position: absolute;
  top: 5vh;
  left: 15vw;
  height: 90vh;
  width: 70vw;
  background-color: white;
  display: flex;
  flex-direction: row;
}

/* impostazioni sez left */
#sez-left{
  display: flex;
  flex-direction: column;
  width: 40%;
}

#utente{
  background-color: lightgrey;
  height: 12vh;
  border-right: 1px solid grey;
  display: flex;
  justify-content: space-between;
}

.left{
  display: flex;
  align-items: center;
  padding-left: 1%;
  width: 70%
}

.right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1%;
  width: 30%
}

.right > i{
  color: grey;
  margin: 0 5%;
}

.left img{
  width: 20%;
  height: 85%;
  border-radius: 50%;
  margin-right: 1%;
}

#notifiche{
  background-color: deepskyblue;
  height: 14vh;
}

#cerca-contatti{
  background-color: whitesmoke;
  height: 10vh;
}

#contatti{
  height: 54vh;
}

/* impostazioni sez right */
#sez-right{
  display: flex;
  flex-direction: column;
  width: 60%;
}

#top-chat{
  background-color: lightgrey;
  height: 12vh;
  display: flex;
  justify-content: space-between;
}

#top-chat > .left img{
  height: 80%;
  width: 12%;
}

.rimpicciolito{
  color: grey;
  font-size: 12px;
}

#chat{
  background-image: url(../img/mine.jpg);
  height: 66vh;
}

#bottom-chat{
  background-color: whitesmoke;
  height: 12vh;
}
