<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Boolzapp</title>
  </head>
  <body>
    <div id="app">

      <div id="sfondo">

        <div id="sfondo-top">
        </div>

        <div id="sfondo-bottom">
        </div>

        <div id="container">

          <!-- INIZIO SEZ LEFT -->

          <div id="sez-left">

            <div id="utente">

              <div class="left">

                <img :src="mioUtente.avatar" alt="avatar utente">

                <h5>{{mioUtente.nome}}</h5>
              </div>

              <div class="right">
                <i class="far fa-circle-notch"></i>

                <i class="fas fa-comment-alt"></i>

                <i class="far fa-ellipsis-v"></i>

              </div>

            </div>

            <div id="notifiche">

              <i class="far fa-bell-slash"></i>

              <div>
                <h5>Ricevi notifiche di nuovi messaggi</h5>

                <a href="#">Attiva notifiche desktop</a>
              </div>

            </div>

            <div id="cerca-contatti">

              <input type="text" name="" value="" placeholder="Cerca o inizia una nuova chat">
              <i class="far fa-search"></i>

            </div>

            <div id="contatti">

              <div class="box-contatto" tabindex="1" v-for="(contatti,index) in listaUtenti" :class="(index === activeEl) ? 'contatti active' : 'contatti'"  @click = "mostraChat(index)">

                <img :src="contatti.avatar" alt="avatar contatti">

                <div class="next-avatar">

                  <h5>{{contatti.nome}}</h5>

                  <p>ok...</p>

                </div>

                <p>{{contatti.data}}</p>

              </div>

            </div>

          </div>

          <!-- FINE SEZ LEFT -->

          <!-- INIZIO SEZ RIGHT DELLE CHAT -->

          <div class="sez-right" v-for="(contatti,index) in listaUtenti" :class="{active : index===activeEl}">

            <div id="top-chat">

              <div class="left">
                <img :src="listaUtenti[activeEl].avatar" alt="avatar utente">
                <div>
                  <h5>{{listaUtenti[activeEl].nome}}</h5>
                  <p class="rimpicciolito">{{listaUtenti[activeEl].data}}</p>
                </div>

              </div>

              <div class="right">
                <i class="far fa-search"></i>
                <i class="far fa-paperclip"></i>
                <i class="far fa-ellipsis-v"></i>

              </div>

            </div>

            <div id="chat">

              <div  v-for="messaggi in listaUtenti[activeEl].chat" :class=messaggi.stato>

                <p>{{messaggi.messaggio}}</p>

                <p>{{messaggi.orario}}</p>

              </div>

            </div>

            <div id="bottom-chat">

              <i class="far fa-smile"></i>

              <!-- ins funzione keyup per inviare testo premendo invio collegando v-model del messaggio in messInviato -->
              <input type="text" name="" value="" placeholder="Scrivi un messaggio" v-model="messInviato.messaggio" @keyup.enter="addElement">

              <!-- al click su microfono invia testo scritto -->
              <i class="fas fa-microphone" @click="addElement"></i>

            </div>

          </div>
          <!-- FINE SEZ RIGHT DELLE CHAT -->

        </div>

      </div>

    </div>

    <script type="text/javascript" src="js/script.js">

    </script>

  </body>
</html>
